body{
    background-image: url("../imgs/space-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width : 95%;
    height: 95vh;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
}

#search{
    background-color: red;
}