/* Body */
body{
    background-image: url("../imgs/newSpace.jpg");
    background-color: #040407;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width : 95%;
    height: 90vh;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}


.searched_body{
    background-image: none;
    background-color: #000000;
}


*:focus {
    outline: none;
}



/* Tile*/
#title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5em;
    color: aliceblue;
}



/* Form */
#search_text{
    border-radius: 5px;
    border:none ; 
    border: 0;
    padding: 10px;
    width: 70%;
    height: 1em;
    text-align: center;
    background-color: rgb(134, 132, 132);
    color: aliceblue;
}


#search_label{
    display: none;
}



/* Form style */
.search_class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15em;
    width: 100%;
}


.searched_class{
    display: flex;
    flex-direction: column;; 
    padding: 0px;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}


.search_class_hidden{
    display: none;
}


::placeholder {
   color:rgb(220, 220, 220);
}

#search_text{
    height: 3em;
}

.search_btn_class{
    border-radius: 5px; 
    border: 0;
    margin-top: 25px;
    width: 10em;
    height: 4em;
    text-align: center;
    background-color: #113455;
    color: aliceblue;
}



/* Loading */
#loading{
    display: none;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}



/** Output **/
#output_container{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95vw;
    height: 100%;
    padding: 0%;
    border-radius: 10px;
    border-color: #113455;
    border-style: solid;
    margin-left: 2.4%;
    margin-top: 2em;
}



@media screen and (min-width: 768px) {
    #search_text{
        width: 38%;
        height: 2em;
    }

    
    #search_btn{
        width: 10em;
        height: 3em;
    }


    #title{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 15%;
        color: aliceblue;
    }
    

    body{
        height: 60vh;
    }
}


@media screen and (min-width: 1224px) {
    .searched_class{
        flex-direction: row; 
        margin-top: 0;
    }


    .searched_btn_class{
        margin-top: 0;
    }

    .wrapper_btn_class{
        display: flex;
        background-color:rgb(134, 132, 132);
        padding: 0.2em;
        border-radius: 5px;
        margin-left: -6px;
    }

    #output_container{
        margin-top: 0;
    }

}