:root {
  --my-background: #040407;
  --my-text: #f0f8ff;
  --form-colour: #868484;
  --theme-colour: #113455;
  --placeholder-colour: #dcdcdc;
  --focus-background: #090e19;
  --link-colour: #a39f9fd9;
}

*:focus {
  outline: none;
}

/* Body */

body {
  background-image: url("../imgs/space_background.jpg");
  background-color: var(--my-background);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 95%;
  height: 90vh;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--my-text);
  font-family: "Open Sans", sans-serif;
}

.searched_body {
  background-image: none;
  background-color: var(--my-background);
}

/* Tile*/

.show_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5em;
  color: var(--my-text);
}

.hidden_title {
  display: none;
}

/* Form */
#search_input {
  border-radius: 5px;
  border: none;
  padding: 10px;
  width: 70%;
  height: 3em;
  text-align: center;
  background-color: var(--form-colour);
  color: var(--my-text);
}

#search_label {
  display: none;
}

.search_class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15em;
  width: 100%;
}

.searched_class {
  display: flex;
  flex-direction: column;
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  margin: 1em 1em 0;
}

.search_class_hidden {
  display: none;
}

::placeholder {
  color: var(--placeholder-colour);
}

.search_btn_class {
  border-radius: 5px;
  border: 0;
  margin-top: 25px;
  width: 10em;
  height: 4em;
  text-align: center;
  background-color: var(--theme-colour);
  color: var(--my-text);
}

/* Loading */

.show_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.hidden_loading {
  display: none;
}

/** Output **/

.show_output {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
  justify-items: center;
  align-items: center;
  width: 95%;
  height: 100%;
  padding: 9px;
  border-radius: 10px;
  border-color: var(--theme-colour);
  border-style: solid;
  margin: 2em 2.5% 0;
}

.hidden_output {
  display: none;
}

.show_output img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  border-color: var(--theme-colour);
  border-style: solid;
  margin: 1em;
  padding: 0;
}

/*Error */

.show_error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  flex-direction: column;
}

.hidden_error {
  display: none;
}

.show_error p {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 8em;
  text-align: center;
}

.show_error img {
  width: 250px;
  border-radius: 10px;
  margin-top: 5em;
}

.show_error button {
  border-radius: 5px;
  border: 0;
  width: 10em;
  padding: 2em;
  text-align: center;
  background-color: var(--theme-colour);
  color: var(--my-text);
  margin-bottom: 6em;
}

/* Focus */

.hidden_focus {
  display: none;
}

.show_focus {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  margin: 15px auto;
  background-color: var(--focus-background);
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-width: 250px;
  width: 90%;
  border-radius: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
}

.show_focus p {
  margin: 1em;
  width: 90%;
}

.show_focus img {
  width: 250px;
}

.other_focus {
  position: absolute;
  filter: blur(5px);
  overflow: hidden;
}

.other_focus p , .other_focus ul , .other_focus form{
  display: none;
}


#close {
  cursor: pointer;
  width: 30px !important;
  height: 30px !important;
  margin-left: 95%;
  transition: transform 0.5s ease-in-out;
}

#close:hover {
  transform: rotate(90deg);
}

.clear_class_hidden,
.clear_class_search,
.clear_class_searched {
  display: none;
}


footer {
  position: relative;
  width: 95vw;
  margin-top: 20em;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 1px;
  background-color: var(--focus-background);
  border-radius: 10px;
}

footer ul{
  text-align: left;
}

a:link {
  color: var(--link-colour);
}

/* visited link */
a:visited {
  color: var(--link-colour);
}





/* Media Queries */

@media screen and (min-width: 768px) {
  .show_output {
    margin-top: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  #search_input {
    width: 38%;
    height: 2em;
  }

  #search_btn {
    width: 10em;
    height: 3em;
  }

  .show_error img {
    width: 20%;
  }

  .show_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
    color: var(--my-text);
  }

  .hidden_title {
    display: none;
  }

  body {
    height: 60vh;
  }

  .hidden_output {
    display: none;
  }
}

@media screen and (min-width: 1224px) {
 #search_input {
    width: 600px;
    height: 25px;
  }
  .searched_class {
    flex-direction: row;
    margin-top: 0;
  }

  .show_error img {
    width: 10%;
  }

  .searched_btn_class {
    margin-top: 0;
  }

  .wrapper_btn_class {
    display: flex;
    background-color: var(--form-colour);
    padding: 0.2%;
    border-radius: 5px;
    margin-left: -8px;
  }

  .show_output {
    margin: 0 3em 0;
    grid-template-columns: repeat(4, 1fr);
  }

  .show_focus img {
    width: 30em;
  }

  .show_focus {
    width: 50%;
  }

  .clear_class_search {
    position: absolute;
    display: flex;
    margin-top: -31px;
    margin-left: 368px;
    height: 16px;
  }

  .clear_class_searched {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 10px;
    width: 10px;
    margin-right: 1em;
    margin-top: 8px;
    cursor: pointer;
  }

  #search_input {
    padding-right: 50px;
  }
}
